/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.1.0
* Docs at http://davidtheclark.github.io/scut
*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased; }

*, *:before, *:after {
  -webkit-font-smoothing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
  margin: 0; }

b {
  font-weight: normal; }

label,
select,
option,
button {
  cursor: pointer; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  button::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner {
    padding: 0;
    border: 0; }

p:first-of-type {
  margin-top: 0; }

p:last-of-type {
  margin-bottom: 0; }

img,
video {
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

@font-face {
  font-family: "icons";
  src: url("fonts/icons-4571a3f7643ade7792bf1cf6eb8493d4.eot");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "icons";
  src: url("fonts/icons-4571a3f7643ade7792bf1cf6eb8493d4.eot");
  src: url("fonts/icons-4571a3f7643ade7792bf1cf6eb8493d4.eot?#iefix") format("embedded-opentype"), url("fonts/icons-4571a3f7643ade7792bf1cf6eb8493d4.woff") format("woff"), url("fonts/icons-4571a3f7643ade7792bf1cf6eb8493d4.ttf") format("truetype"), url("fonts/icons-4571a3f7643ade7792bf1cf6eb8493d4.svg?#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon_biola:before {
  content: "\f101"; }

.icon_caret:before {
  content: "\f102"; }

.icon_email:before {
  content: "\f103"; }

.icon_facebook:before {
  content: "\f104"; }

.icon_mail:before {
  content: "\f105"; }

.icon_play:before {
  content: "\f106"; }

.icon_student:before {
  content: "\f107"; }

.icon_torrey:before {
  content: "\f108"; }

.icon_twitter:before {
  content: "\f109"; }

.container {
  width: 80%;
  max-width: 1040px;
  display: block;
  margin: 0 auto;
  padding: 3rem 0;
  overflow: hidden; }

/* Colors */
/* BreakPoints */
nav {
  position: fixed;
  display: block;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 6;
  color: white;
  text-align: center; }
  nav a {
    color: white; }
  nav .logo {
    display: block;
    font-size: 100px;
    margin-top: 10px; }
  nav .social {
    position: absolute;
    top: 50%;
    left: 1rem;
    margin-top: -1em; }
    nav .social a {
      padding: .5em;
      border-radius: 3rem;
      border: 1px solid;
      width: 1rem;
      height: 1rem;
      vertical-align: middle;
      text-align: center;
      font-size: 1rem;
      box-sizing: content-box; }
  nav .pill {
    padding: .8em;
    border: 1px solid;
    border-radius: 3rem;
    display: block;
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -1.2em;
    font-size: .8em;
    text-decoration: none; }

header {
  display: table;
  width: 100%;
  height: 740px;
  background-image: url("../images/hero1.jpg");
  background-size: cover;
  background-position: top center;
  position: relative; }
  header:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 2; }
  header .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 3; }
    header .content h1 {
      font-family: "minion-pro", serif;
      font-size: 3.2em;
      color: white; }
    header .content .icon_play {
      display: inline-block;
      width: 60px;
      height: 60px;
      font-size: 60px;
      color: white; }
      header .content .icon_play:before {
        text-indent: 0; }

section {
  background-color: #eee;
  position: relative; }
  section .container {
    width: 60%;
    position: relative; }
  section.courses:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0; }
  section.courses .container {
    width: 90%;
    z-index: 5; }
  section h2 {
    text-align: center;
    font-size: 2.8em;
    font-family: "minion-pro", serif;
    font-weight: 500;
    z-index: 5;
    position: relative; }
  section p, section .form_description {
    font-family: "minion-pro", serif;
    font-size: 1.8em;
    text-align: center; }
  section form {
    display: block;
    width: 100%;
    margin: 3rem auto;
    padding: 0; }
    section form input, section form .select {
      font-family: "minion-pro", serif;
      width: 49%;
      display: inline-block;
      padding: 1rem;
      margin-bottom: 1%;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: #999; }
      section form input:nth-of-type(2n), section form .select:nth-of-type(2n) {
        margin-left: 1%; }
    section form .select {
      overflow: hidden;
      background: #fff;
      padding: 0;
      position: relative; }
      section form .select:after {
        content: "\f102";
        font-family: "icons";
        color: #ccc;
        font-size: .4em;
        line-height: 1em;
        position: absolute;
        top: 50%;
        right: 1rem;
        margin-top: -.2em; }
      section form .select select {
        padding: 1rem;
        width: 100%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        position: relative;
        margin: 0; }
        section form .select select option {
          margin: 0;
          padding: 0; }
        section form .select select:focus {
          outline: none; }
    section form label.m {
      height: 20px;
      display: inline-block;
      padding-top: 12px;
      vertical-align: middle;
      margin-left: 44px;
      color: #999;
      font-family: "minion-pro", serif; }
    section form button[type="submit"] {
      display: block;
      background-color: #667cb9;
      width: 100%;
      margin-top: 30px;
      padding: 1rem;
      color: white;
      font-family: "minion-pro", serif; }

input[type=checkbox] {
  visibility: hidden; }

.squaredFour {
  width: 20px;
  margin: 0px 10px 20px 0;
  position: relative;
  display: inline-block; }

.squaredFour label {
  cursor: pointer;
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  left: 0;
  border-radius: 4px;
  background: #fff;
  border: 1px #ccc solid; }

.squaredFour label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 60%;
  height: 24%;
  background: transparent;
  top: 32%;
  left: 20%;
  border: 5px solid #667cb9;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.squaredFour label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.5; }

.squaredFour input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  position: absolute;
  width: 60%;
  top: 30%;
  left: 20%; }

.courses {
  background-image: url("../images/books.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 3rem; }
  .courses h2 {
    padding-top: 3rem; }

.white {
  color: white; }

.course {
  box-sizing: border-box;
  float: left;
  padding-bottom: 0; }
  @media (min-width: 0) {
    .course {
      width: 100%; } }
  @media (min-width: 768px) {
    .course {
      width: 30%;
      margin-right: 5%; }
      .course:last-of-type {
        margin-right: 0; } }
  .course .description {
    padding: 1rem; }
    .course .description img {
      margin-bottom: 1rem; }
    .course .description h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: .25rem;
      color: white;
      text-align: center;
      font-family: "minion-pro", serif; }
    .course .description h4 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: .5rem;
      color: white;
      text-align: center;
      font-family: "minion-pro", serif; }
    .course .description h5 {
      font-size: .8rem;
      font-weight: 600;
      color: #eee;
      margin-bottom: 1rem;
      text-align: center;
      font-family: "minion-pro", serif; }
    .course .description p {
      font-size: 1.05rem;
      line-height: 1rem;
      font-weight: 300;
      margin-bottom: 1rem;
      color: white;
      text-align: center;
      font-family: "minion-pro", serif; }
    .course .description i {
      width: 100%;
      text-align: center;
      font-size: 5rem;
      color: white;
      margin-bottom: 2rem; }
  .course .sign-up {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 3rem;
    border-radius: 5px;
    background-color: rgba(102, 124, 185, 0);
    transition: .2s all;
    text-transform: uppercase;
    background-color: #667cb9;
    text-decoration: none;
    color: white;
    font-family: "minion-pro", serif; }
    .course .sign-up:hover {
      background-color: #5c72af;
      color: white; }
